<%- include("includes/header.ejs")  %>
<body>
    
    <div class="jumbotron">
        <h1 class="display-4">"Welcome to Secrets – Your Safe Space to Share Confidently"</h1>
        <br>
        <p class="lead">Keep your secrets secure with industry-standard encryption and authentication.
        Sign up or log in to start sharing in a safe, private environment.</p>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
        <h3>What we Offering</h3>
        <ul>
            <li>Encrypted storage</li>
            <li>No third-party data access</li>
            <li>Manage your data privately</li>
         </ul>
        <div>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
        </div>
     
        </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

</body>
</html>