.update-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(255, 251, 245);
    gap: 4px;
}

.update-form>input {
    border-style: dashed;
    box-shadow: 2px 2px 2px black;
}

#editForm {
    display: none;
}

#edit-btn ,#submit-btn, .send-msg , .e-btn {
    border: 1px solid gray;
    background-color: rgb(43, 77, 227);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: aliceblue;
    border-radius: 10px;
}

#logout-btn, .d-btn {
    border: 1px solid gray;
    background-color: rgb(227, 43, 74);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
}

#edit-btn:hover{
    transform: scale(1.08);
    box-shadow: 2px 2px 2px red;
}

#logout-btn:hover{
    transform: scale(1.08);
}

.profile-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.profile-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usrData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 968px) {
    .profile-actions,
    .profile-container{
        flex-direction: column;
    }

     .Secrets-msg>ul>li{
            width: 90%;
        }
}

.secret-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Secrets-msg{
    border: none;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
}

.Secrets-msg > ul{
    border: none;
    border-top: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
}

.Secrets-msg>ul>li{
    list-style: none;
    padding: 5px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    margin: 10px;
    width: 80%;
    box-shadow:  3px 3px 3px black;
}

.edit-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.edit-form textarea {
  width: 100%;
  resize: vertical;
  min-height: 60px;
  margin-bottom: 5px;
  padding: 5px;
}

