.secret-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.update-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(255, 251, 245);
    gap: 4px;
}

.update-form>input {
    border-style: dashed;
    box-shadow: 2px 2px 2px black;
}

#edit-btn ,#submit-btn {
    border: 1px solid gray;
    background-color: rgb(43, 77, 227);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: aliceblue;
    border-radius: 10px;
}

#logout-btn {
    border: 1px solid gray;
    background-color: rgb(227, 43, 74);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
}

#edit-btn:hover{
    transform: scale(1.08);
    box-shadow: 2px 2px 2px red;
}

#logout-btn:hover{
    transform: scale(1.08);
}